*{
    color: black;
}
nav{
    background-color: rgb(231, 194, 149);
    display: flex;
    height: 50px;
    margin-top: 30px;
}
.logo{
    font-family: cursive;
    margin-left: 5px;
    font-size: large;
    font-weight: bold;
}
.nav-items{
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 14px;
    gap: 65px;
    margin-left: 60px;
}
.nav-items a{
    text-decoration: none;
    padding: 13px 27px;
    font-weight: 600;
}
.nav-items a:hover{
    background-color: rgb(135, 90, 36);
    color: white;
}
.img-container{
    display: flex;
    text-align: center;
    gap: 200px;
    margin-left: 10px;
}
.card img{
    height: 270px;
    width: 130%;
    border-radius: 12px;
}
.main>h2{
    margin-top: 45px;
    font-family: Raleway;
}
.main>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.main{
    background-image: url(ChatGPT\ Image\ Oct\ 29\,\ 2025\,\ 09_30_40\ PM.png);
    padding: 1px;
}
.featured{
    font-family: Raleway;
    margin-top: 30px;
    margin-bottom: 30px;
}
