*{
    color: black;
}
nav{
    background-color: rgb(231, 194, 149);
    display: flex;
    height: 50px;
    margin-top: 30px;
}
.logo{
    font-family: cursive;
    margin-left: 5px;
    font-size: large;
    font-weight: bold;
}
.nav-items{
    list-style-type: none;
    display: flex;
    padding: 5px;
    margin: 14px;
    gap: 65px;
    margin-left: 60px;
}
.nav-items a{
    text-decoration: none;
    padding: 13px 27px;
    font-weight: 600;
}
.nav-items a:hover{
    background-color: rgb(135, 90, 36);
    color: white;
}
.img-container{
    display: flex;
    text-align: center;
    gap: 50px;
    justify-content: center;
    margin-left: 10px;
}
.card img{
    height: 270px;
    width: 80%;
    border-radius: 12px;
    margin-top: 10px;
}
h2{
    margin-top: 45px;
    font-family: Raleway;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.featured{
    font-family: Raleway;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    background-color: antiquewhite;
    width: 150%;
    border-radius: 12px;
}
.products button{
    padding: 8px;
    background-color: rgb(87, 179, 87);
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    display: inline;
}
.products button:hover{
    background-color: rgb(24, 94, 24);
    color: white;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-form{
    background-color: rgb(242, 242, 242);
    margin: 5px;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 500px;;
}
.form{
    background-color: white;
    padding: 50px;
}
label{
    display: block;
    font-weight: bolder;
    padding: 10px;
}
input{
    margin: 5px;
    padding: 8px;
}
button{
    background-color: black;
    color: white;
    border: none;
    display: block;
    margin: 8px;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(229, 199, 162);
}
.shop-container img{
    height: 300px;
    width: 300px;
}
.shop-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 40px;
}
li{
    font-size: large;
    font-weight: 400;
}
.drinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px
}
.drinks img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
